build -c opt
build --cxxopt=-std=c++17
build --cxxopt=-fdiagnostics-color=always
build --host_cxxopt=-std=c++17
build --host_cxxopt=-fdiagnostics-color=always
build --test_output=errors --action_env="GTEST_COLOR=1"
